* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  background-color: #E9AFA3;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
a:hover {
  font-weight: 400;
}
a:click {
  color: #3a405a;
}
#top-bar {
  background-color: #AEC5EB;
  height: 100px;
  text-align: center;
}
#top-bar img {
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#top-menu {
  display: inline-block;
  margin-top: 50px;
}
#top-menu a {
  padding: 10px 2px;
}
#down-arrow {
  font-size: 10pt;
}
button {
  padding: 10px 25px;
  background-color: white;
  border-style: solid;
  cursor: pointer;
  outline: none;
  color: #AEC5EB;
  font-weight: 700;
  border-radius: 12px;
}
button:active {
  border-style: solid;
  background-color: #8496b5;
}
#mid {
  background-color: #F9DEC9;
  height: 700px;
  padding: 10px;
}
#articles {
  background-color: #AEC5EB;
}
#footer {
  background-color: #E9AFA3;
  height: 100px;
  position: relative;
  bottom: 0;
}
#img-container {
  background-color: #685044;
  height: 49%;
  width: 100%;
  position: relative;
  border-radius: 12px;
}
#img-container video {
  width: inherit;
  max-height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#signup {
  box-sizing: border-box;
  border-style: none;
  background-color: white;
  height: 49%;
  margin-top: 10px;
  border-radius: 12px;
}
#form-container {
  display: block;
  width: 300px;
  margin: 0 auto;
}
#form-container .form-cell {
  padding: 20px 10px;
  margin: 10px 0;
}
#form-container button {
  display: block;
  margin: 20px auto;
}
.form-cell label {
  float: left;
  font-weight: 700;
}
.form-cell input {
  float: right;
  height: 30px;
  width: 50%;
  padding: 5px;
}
#articles h1 {
  font-size: 18pt;
  text-align: center;
}
#articles img {
  display: block;
  height: 100px;
  margin: -20px auto;
  border-radius: 50%;
}
.article {
  display: block;
  width: 70%;
  margin: 0 auto;
}
.article:not(:first-child) {
  margin: 25px auto;
}
.article h2 {
  margin-top: 20px;
}
.footer-cell {
  float: none;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
}
.footer-cell:not(:first-child) {
  margin: 15px 0;
}
.social {
  height: 30px;
}
@media only screen and (min-width:768px) {
  #img-container {
    height: 100%;
    width: 60%;
    float: left;
    position: relative;
  }
  #img-container video {
    width: 100%;
    display: block;
    max-height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  #signup {
    height: 100%;
    width: 39%;
    float: right;
    margin-top: 0;
  }
  #mid {
    height: 380px;
  }
  #top-bar {
    height: 70px;
  }
  #top-menu {
    margin-top: 16px;
  }
  #top-bar img {
    position: absolute;
    left: 10;
    top: 3;
    float: left;
    margin: 10;
  }
  #top-menu a {
    padding: 10px;
  }
  #articles {
    min-height: 550px;
  }
  #article-wrapper {
    width: 90%;
    display: block;
    margin: 0 auto;
    background-color: green;
  }
  .article {
    float: left;
    margin: 0;
    width: 33%;
  }
  .article:not(:first-child) {
    margin: 0;
  }
  .footer-cell {
    width: 25%;
    padding: 10px 20px;
    float: left;
    text-align: left;
    margin: 0;
  }
  .footer-cell:not(:first-child) {
    margin: 0;
  }
}
